@charset "utf-8";

// Define defaults for each variable.

@font-face {
	font-family: 'Garnett Grotesk';
	src: url('http://files.cargocollective.com/336335/GarnettGrotesk-BoldItalic.eot');
	src: url('http://files.cargocollective.com/336335/GarnettGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('http://files.cargocollective.com/336335/GarnettGrotesk-BoldItalic.woff') format('woff'),
		url('http://files.cargocollective.com/336335/GarnettGrotesk-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Garnett Grotesk';
	src: url('http://files.cargocollective.com/336335/GarnettGrotesk-Bold.eot');
	src: url('http://files.cargocollective.com/336335/GarnettGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
		url('http://files.cargocollective.com/336335/GarnettGrotesk-Bold.woff') format('woff'),
		url('http://files.cargocollective.com/336335/GarnettGrotesk-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Garnett Grotesk';
	src: url('http://files.cargocollective.com/336335/GarnettGrotesk-RegularItalic.eot');
	src: url('http://files.cargocollective.com/336335/GarnettGrotesk-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('http://files.cargocollective.com/336335/GarnettGrotesk-RegularItalic.woff') format('woff'),
		url('http://files.cargocollective.com/336335/GarnettGrotesk-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Garnett Grotesk';
	src: url('http://files.cargocollective.com/336335/GarnettGrotesk-Regular.eot');
	src: url('http://files.cargocollective.com/336335/GarnettGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
		url('http://files.cargocollective.com/336335/GarnettGrotesk-Regular.woff') format('woff'),
		url('http://files.cargocollective.com/336335/GarnettGrotesk-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$base-font-family: "Garnett Grotesk" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     24px !default;

$text-color:       #111 !default;
$background-color: #fff !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    900px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"

;
