@font-face{
  font-family:'PostGrotesk-Book';
  src:url('PostGrotesk-Book_Web/PostGrotesk-Book.eot') format("eot");
  src:url('PostGrotesk-Book_Web/PostGrotesk-Book.woff') format("woff");
  src:url('PostGrotesk-Book_Web/PostGrotesk-Book.woff2') format("woff2");
}
